<h1>Show</h1>
<p>
  <strong>Name:</strong>
  <%= @crypto.name %>
</p>
 
<p>
  <strong>Short Name:</strong>
  <%= @crypto.short_name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @crypto.date_of_birth %>
</p>
<%= link_to 'Back', cryptos_path %>